[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pyserial = "==3.4"
PyQt5 = "==5.14.1"
PyQt5-sip = "==12.7.1"
PyQtChart = "==5.14.0"

[requires]
python_version = "3.7"
